<div class="card w-96 bg-base-100 shadow-xl m-200 flex">
  <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <app-app-input placeholder="Name"></app-app-input>
    <app-app-input placeholder="Brand"></app-app-input>
    <app-app-input placeholder="Color"></app-app-input>
    <app-app-input placeholder="MasterCategory"></app-app-input>
    <app-app-input placeholder="SubCategory"></app-app-input>
    <app-app-input placeholder="Type"></app-app-input>
    <app-app-input placeholder="Season"></app-app-input>
    <app-app-input placeholder="Usage"></app-app-input>
    <<label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Search" />
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
  </label>
  </div>
</div>
