<div class="flex justify-center items-center pt-5">
  <div class="flex justify-center w-90 card">
    <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>

    <div class="pt-5 w-full">
      <div class="pb-2.5">
        <app-input placeholder="Name" #name></app-input>
      </div>
      <div>
        <app-input  class="pt-2.5" placeholder="Brand" #brand></app-input>
      </div>
      <div  class="flex pt-2.5">

        <app-input-with-search placeholder="Color" #color class="pr-5 w-full" matInput
                               [formControl]="myControl"
                               >></app-input-with-search>
        <mat-autocomplete #auto="matAutocomplete">
        <app-input-with-search placeholder= "MasterCategory" #masterCategory class="w-full"></app-input-with-search>
      </div>
      <div  class="flex pt-2.5">
        <app-input-with-search placeholder="SubCategory" #subCategory class="pr-5 w-full"></app-input-with-search>
        <app-input-with-search placeholder="Type" #type class="w-full"></app-input-with-search>
      </div>
      <div  class="flex pt-2.5">
        <app-input-with-search placeholder="Season" #season class="pr-5 w-full"></app-input-with-search>
        <app-input-with-search placeholder="Usage" #usage class="w-full"></app-input-with-search>
      </div>
      <div  class="flex gap-5 pt-2.5">
          <app-button class="w-full" (click)="addClothingItemOnClick(name.inputValue, brand.inputValue, color.searchTerm, masterCategory.searchTerm, subCategory.searchTerm, type.searchTerm, season.searchTerm, usage.searchTerm)"></app-button>
          <app-cancel-button class="w-full"></app-cancel-button>
      </div>
    </div>
  </div>
</div>


