<div class="flex justify-center items-center pt-5">
  <div class="flex justify-center w-96.5 card">
    <figure>
      <img
        src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
        alt="Shoes"
      />
    </figure>
    <div class="pt-5 w-full">
      <div class="pb-2.5">
        <app-input placeholder="Name"></app-input>
      </div>
      <div>
        <app-input class="pt-2.5" placeholder="Brand"></app-input>
      </div>
      <div class="flex pt-2.5">
        <app-input-with-search
          placeholder="Color"
          class="pr-5 w-full"
        ></app-input-with-search>
        <app-input-with-search
          placeholder="MasterCategory"
          class="w-full"
        ></app-input-with-search>
      </div>
      <div class="flex pt-2.5">
        <app-input-with-search
          placeholder="SubCategory"
          class="pr-5 w-full"
        ></app-input-with-search>
        <app-input-with-search
          placeholder="Type"
          class="w-full"
        ></app-input-with-search>
      </div>
      <div class="flex pt-2.5">
        <app-input-with-search
          placeholder="Season"
          class="pr-5 w-full"
        ></app-input-with-search>
        <app-input-with-search
          placeholder="Usage"
          class="w-full"
        ></app-input-with-search>
      </div>
      <div class="flex gap-5 pt-2.5">
        <app-button class="w-full"></app-button>
        <app-stop-button class="w-full"></app-stop-button>
      </div>
    </div>
  </div>
</div>
