<div
  class="bg-white shadow-lg rounded-[2rem] h-60 overflow-hidden flex justify-center items-center mx-auto w-[387px] transition ease-linear duration-300 hover:cursor-pointer hover:-translate-y-1 hover:scale-105 hover:bg-slate-100"
>
  <svg
    width="180"
    height="180"
    viewBox="0 0 180 180"
    version="1.1"
    id="svg1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    <defs id="defs1" />
    <g id="layer1">
      <circle
        style="
          fill: none;
          stroke: #000000;
          stroke-width: 1.11752;
          stroke-dasharray: 1.11752, 1.11752;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
        "
        id="path1"
        cx="90.000008"
        cy="90.001724"
        r="46.581505"
      />
      <rect
        style="
          fill: #000000;
          fill-opacity: 1;
          stroke: none;
          stroke-width: 1.46975;
          stroke-dasharray: 1.46975, 1.46975;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
        "
        id="rect6"
        width="1.2112255"
        height="36.946983"
        x="-90.605614"
        y="-108.4735"
        transform="scale(-1)"
      />
      <rect
        style="
          fill: #000000;
          fill-opacity: 1;
          stroke: none;
          stroke-width: 1.46975;
          stroke-dasharray: 1.46975, 1.46975;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
        "
        id="rect7"
        width="1.2112255"
        height="36.946983"
        x="-90.605614"
        y="71.526505"
        transform="rotate(-90)"
      />
    </g>
  </svg>
</div>
