<div class="h-full p-4 bg-gray-200">
  <div class="flex flex-col items-start ml-7 h-[50%]">
    <a
      routerLink="closet"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="text-2xl select-none hover:cursor-pointer"
      >Kleiderschrank ></a
    >
    <div class="grid w-full grid-cols-5">
      <ng-container *ngFor="let n of numberOfCardsClothing; let i = index">
        <ng-container *ngIf="i < 5">
          <app-clothing-item-card
            class="w-1/5 p-2"
            [data]="n"
          ></app-clothing-item-card>
        </ng-container>
      </ng-container>
    </div>
    <div class="divider"></div>
    <a
      routerLink="outfits"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="text-2xl select-none hover:cursor-pointer"
      >Outfits ></a
    >
    <div class="grid w-full grid-cols-5">
      <ng-container *ngFor="let n of numberOfCardsOutfit; let i = index">
        <ng-container *ngIf="i < 5">
          <app-outfit-card class="w-1/5 p-2" [data]="n"></app-outfit-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
