<div class="bg-gray-200">
  <div class="flex flex-col items-start ml-7 h-[50%]">
    <p class="mt-3 text-2xl">Kleiderschrank ></p>
    <div class="flex flex-row gap-8">
      <ng-container *ngFor="let n of numberOfCardsClothing; let i = index">
        <ng-container *ngIf="i < 5">
          <app-clothing-item-card
            class="w-1/5 p-2"
            [data]="n"
          ></app-clothing-item-card>
        </ng-container>
      </ng-container>
    </div>
    <div class="divider"></div>
      <p class="text-2xl">Outfits ></p>
      <div class="flex flex-row gap-8">
        <ng-container *ngFor="let n of numberOfCardsOutfit; let i = index">
          <ng-container *ngIf="i < 5">
            <app-outfit-card
              class="w-1/5 p-2"
              [data]="n"
            ></app-outfit-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
</div>
