
<div class="bg-white shadow-lg mx-auto mt-5 rounded-[2rem] w-72 overflow-hidden">
  <div class="h-60">
    <img class="w-full h-full object-cover" src="https://image.brigitte.de/13362148/t/zc/v1/w1440/r1.7778/-/weisse-sneaker-trends-2022.jpg" alt="Bildbeschreibung">
  </div>
  <div class="flex flex-col bg-gray-300 p-4 w-full">
    <div class="flex place-content-between">

      <h3 class="text-xl leading-5">Kleidung-Name</h3>
      <button class="bg-transparent p-0 border-none focus:outline-none items-center">
        <i class="text-gray-500 text-xl hover:text-red-700 fa-heart fas"></i>
      </button>
    </div>
    <div class="flex place-content-between gap-3 mt-16 text-center">
      <label class="bg-gray-400 px-3 rounded-full w-full">Marke</label>
      <label class="bg-gray-400 px-3 rounded-full w-full">Art</label>
      <label class="bg-gray-400 px-3 rounded-full w-full">Anlass</label>
    </div>
    </div>
</div>
