<div class="navbar bg-gray-300">
  <div class="navbar-start menu-horizontal">
    <a class="hover:text-gray-400 hover:cursor-pointer">Home</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu-horizontal">
      <li class="hover:text-gray-400 hover:cursor-pointer mr-10"><a>Kleiderschrank</a></li>
      <li class="hover:text-gray-400 hover:cursor-pointer mr-10"><a>Outfits</a></li>
      <li class="hover:text-gray-400 hover:cursor-pointer mr-10"><a>Inspiration</a></li>
      <li class="hover:text-gray-400 hover:cursor-pointer mr-10"><a>Favoriten</a></li>
    </ul>
  </div>
  <div class="navbar-end menu-horizontal">
    <ul>
    <li class="hover:text-gray-400 hover:cursor-pointer"><a>Logout</a></li>
    </ul>
  </div>
</div>
