<div class="bg-gray-50 navbar">
  <div class="menu-horizontal navbar-start">
    <button
      routerLink="/"
      routerLinkActive="active"
      class="ml-10 hover:text-gray-400 hover:cursor-pointer"
    >
      Home
    </button>
  </div>
  <div class="lg:flex hidden navbar-center">
    <ul class="menu-horizontal">
      <li>
        <a class="mr-10 hover:text-gray-400 hover:cursor-pointer"
          >Kleiderschrank</a
        >
      </li>
      <li>
        <a class="mr-10 hover:text-gray-400 hover:cursor-pointer">Outfits</a>
      </li>
      <li>
        <a class="mr-10 hover:text-gray-400 hover:cursor-pointer"
          >Inspiration</a
        >
      </li>
      <li>
        <a class="mr-10 hover:text-gray-400 hover:cursor-pointer">Favoriten</a>
      </li>
    </ul>
  </div>
  <div class="menu-horizontal navbar-end">
    <ul>
      <li class="mr-10 hover:text-gray-400 hover:cursor-pointer">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
