<div class="bg-gray-300 navbar">
  <div class="menu-horizontal navbar-start">
    <button  routerLink='/' routerLinkActive='active' class="hover:text-gray-400 hover:cursor-pointer">Home</button>
  </div>
  <div class="lg:flex hidden navbar-center">
    <ul class="menu-horizontal">
      <li class="mr-10 hover:text-gray-400 hover:cursor-pointer"><a>Kleiderschrank</a></li>
      <li class="mr-10 hover:text-gray-400 hover:cursor-pointer"><a>Outfits</a></li>
      <li class="mr-10 hover:text-gray-400 hover:cursor-pointer"><a>Inspiration</a></li>
      <li class="mr-10 hover:text-gray-400 hover:cursor-pointer"><a>Favoriten</a></li>
    </ul>
  </div>
  <div class="menu-horizontal navbar-end">
    <ul>
    <li class="hover:text-gray-400 hover:cursor-pointer"><a>Logout</a></li>
    </ul>
  </div>
</div>
