<div
  class="flex flex-col items-center justify-center gap-4 bg-white shadow-lg rounded-[2rem] h-60 overflow-hidden p-8 mx-auto w-[387px] transition ease-linear duration-300 hover:cursor-pointer hover:-translate-y-1 hover:scale-105 hover:bg-slate-100"
  (click)="onClick()"
>
  <div class="flex items-center w-full gap-2 place-content-between">
    <div class="w-32 h-32">
      <img
        class="object-cover w-full h-full select-none rounded-2xl"
        [src]="clothingItem.image"
        [alt]="clothingItem.name"
      />
    </div>
    <div class="flex flex-col gap-4 text-right">
      <p class="text-2xl">{{ clothingItem.name }}</p>
      <p class="text-xl font-light">{{ clothingItem.brand }}</p>
    </div>
  </div>
  <div class="hover:cursor-pointer">
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.masterCategory }}
    </label>
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.subCategory }}
    </label>
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.type }}
    </label>
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.color }}
    </label>
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.usage }}
    </label>
    <label
      class="w-full px-3 mr-1 bg-gray-400 rounded-full hover:cursor-pointer"
      >{{ clothingItem.season }}
    </label>
  </div>
</div>
