<div
  class="bg-white shadow-lg mt-5 rounded-[2rem] w-72 overflow-hidden inline-block mx-auto hover:cursor-pointer transition ease-linear duration-300 hover:-translate-y-1 hover:scale-105 hover:bg-slate-100"
  (click)="onClick()"
>
  <div class="grid grid-cols-2 grid-rows-2 h-60">
    <img class="object-cover w-full h-full" [src]="isImageAtIndex(0)" />
    <img class="object-cover w-full h-full" [src]="isImageAtIndex(1)" />
    <img class="object-cover w-full h-full" [src]="isImageAtIndex(2)" />
    <img class="object-cover w-full h-full" [src]="isImageAtIndex(3)" />
  </div>
  <div class="flex flex-col w-full p-4 bg-gray-300">
    <div class="flex justify-end w-full">
      <button
        (click)="toggleFavorite($event)"
        class="items-center p-0 bg-transparent border-none focus:outline-none"
      >
        <i
          [ngClass]="{ 'favorite-heart': data.isFavorite }"
          class="text-xl fa-heart fas"
        ></i>
      </button>
      <button
        (click)="this.deleteItem($event)"
        class="p-0 bg-transparent border-none focus:outline-none"
      >
        <i
          class="text-xl scale-90 fa-trash fas hover:text-error-content/50"
        ></i>
      </button>
    </div>
    <div class="flex gap-3 mt-16 text-center place-content-between">
      <label class="w-full px-3 bg-gray-400 rounded-full">{{
        getCommonSeason(data)
      }}</label>
      <label class="w-full px-3 bg-gray-400 rounded-full">{{
        getCommonUsage(data)
      }}</label>
    </div>
  </div>
</div>
