<div class="h-full p-4 bg-gray-200">
  <div class="flex flex-col items-start ml-7 h-[50%]">
    <p class="text-2xl select-none">Kleiderschrank ></p>
    <div class="flex flex-row w-full gap-8 overflow-x-auto">
      <ng-container *ngFor="let n of favoriteClothingItems">
        <app-clothing-item-card
          class="w-1/5 p-2"
          [data]="n"
        ></app-clothing-item-card>
      </ng-container>
    </div>
    <div class="divider"></div>
    <p class="text-2xl select-none">Outfits ></p>
    <div class="flex flex-row w-full gap-8 overflow-x-auto">
      <ng-container *ngFor="let n of favoriteOutfits">
        <app-outfit-card class="w-1/5 p-2" [data]="n"></app-outfit-card>
      </ng-container>
    </div>
  </div>
</div>
