<div class="bg-gray-200 overflow-hiddenn">
    <div class="flex flex-col items-start ml-7 h-[50%]">
      <p class="mt-3 text-2xl">Kleiderschrank ></p>
      <div class="flex flex-row gap-8 w-full overflow-x-auto">
        <ng-container *ngFor="let n of favoriteClothingItems;">
            <app-clothing-item-card
              class="w-1/5 p-2"
              [data]="n"
            ></app-clothing-item-card>
          </ng-container>
      </div>
      <div class="divider"></div>
        <p class="text-2xl">Outfits ></p>
        <div class="flex flex-row gap-8 w-full overflow-x-auto">
          <ng-container *ngFor="let n of favoriteOutfits;">
              <app-outfit-card
                class="w-1/5 p-2"
                [data]="n"
              ></app-outfit-card>
          </ng-container>
        </div>
      </div>
  </div>
  