<div class="bg-white shadow-lg mt-5 rounded-[2rem] w-72 overflow-hidden inline-block mx-auto ">
  <div class="h-60">
    <img class="w-full h-full object-cover" [src]="base64ToImage(this.data.image)" alt="Bildbeschreibung">
  </div>
  <div class="flex flex-col bg-gray-300 p-4 w-full">
    <div class="flex place-content-between">

      <h3 class="text-xl leading-5">{{ this.data.name }}</h3>
      <button class="bg-transparent p-0 border-none focus:outline-none items-center">
        <i class="text-gray-500 text-xl hover:text-red-700 fa-heart fas"></i>
      </button>
    </div>
    <div class="flex place-content-between gap-3 mt-16 text-center">
      <label class="bg-gray-400 px-3 rounded-full w-full">{{ this.data.brand }}</label>
      <label class="bg-gray-400 px-3 rounded-full w-full">{{  this.data.masterCategory }}</label>
      <label class="bg-gray-400 px-3 rounded-full w-full">{{ this.data.usage }}</label>
    </div>
  </div>
</div>
