<div class="container flex flex-wrap justify-center mx-auto lg:justify-start">
  <app-add-item-card (click)="onOpenFileDialog()" class="w-1/5 p-2">
    <input
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      style="display: none"
    />
  </app-add-item-card>
  <app-clothing-item-card
    *ngFor="let n of numberOfCards"
    class="w-1/5 p-2"
    (itemClicked)="openModal($event)"
    [data]="n"
  ></app-clothing-item-card>
  <app-modal-wrapper [showModal]="showModal">
    <app-clothing-modal
      (close)="closeModal()"
      [saveAsNewClothingItem]="saveAsNewItem"
    ></app-clothing-modal>
  </app-modal-wrapper>
</div>
